.productcard {
     border: 1px solid #EBEBEB;
     border-radius: 6px;
     overflow: hidden;
     display: flex;
     flex-direction: column;
     padding: 10px;
     margin: 10px;
     max-width: 200px;
     box-shadow: 0 2px 8px #9c9b9b;
     background-color: #EBEBEB;
     transition: transform 0.2s;
   }
   
.productcard:hover {
     transform: scale(1.02);
     box-shadow: 0 2px 20px #ED254E;
}

.productcard img {
     max-width: 100%;
     height: auto;
}

.productcard h2 {
     color: #1E1E1E;
     font-size: 1.25em; 
     margin: 16px;
}

.productcard p {
     font-size: 1em;
     color: #666;
     margin: 0 16px 16px;
}

.productprice {
     font-size: 1.5em; 
     color: #333; 
     font-weight: bold; 
     margin: 0 16px 16px;
}