.gallery {
     display: flex;
     flex-wrap: wrap;
     margin: auto;
     max-width: 80%;
     padding-top: 3em;
     padding-left: 10em;
     border: none;
     gap: 2em;
 }

 .gallery > * {
     flex-basis: calc(25% - (2em + 4px));
     overflow: hidden;
}


@media (max-width: 1200px) {
     .gallery {
         max-width: 70%;
     }
 
     .gallery > * {
         flex-basis: calc(33.3333% - (2em + 4px));
     }
 }

@media (max-width: 900px) {
     .gallery {
         max-width: 90%;
     }
 
     .gallery > * {
         flex-basis: calc(33.3333% - (2em + 4px));
     }
}

@media (max-width: 700px) {
     .gallery {
         max-width: 70%;
     }
 
     .gallery > * {
         flex-basis: calc(50% - (2em + 4px));
     }
}

@media (max-width: 700px) {
     .gallery {
         max-width: 70%;
     }
 
     .gallery > * {
         flex-basis: calc(50% - (2em + 4px));
     }
}