.background {
     background-color: #1E1E1E;
}

.gallery {
     display: flex;
     flex-wrap: wrap;
     margin: 0 auto;
     max-width: 60%;
     padding: 3em;
     border: none;
     background-color: #1E1E1E;
     gap: 2em;
 }
 
.image-container {
     flex-basis: calc(25% - (2em + 4px));
     overflow: hidden;
 }
 
.image-container img {
     width: 100%;
     height: auto;
     display: block;
     border-radius: 5px 5px 5px 5px;
     border: 2px solid #ccc;
 }

.image-container img:hover {
     border: 2px solid #777;
}

@media (max-width: 1200px) {
     .gallery {
         max-width: 70%;
     }
 
     .image-container {
         flex-basis: calc(33.3333% - (2em + 4px));
     }
 }

@media (max-width: 900px) {
     .gallery {
         max-width: 90%;
     }
 
     .image-container {
         flex-basis: calc(33.3333% - (2em + 4px));
     }
}

@media (max-width: 700px) {
     .gallery {
         max-width: 70%;
     }
 
     .image-container {
         flex-basis: calc(50% - (2em + 4px));
     }
}

@media (max-width: 700px) {
     .gallery {
         max-width: 70%;
     }
 
     .image-container {
         flex-basis: calc(50% - (2em + 4px));
     }
}