html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

main {
  background-color: #484847;
  font-family: 'Monomaniac One', sans-serif;
  align-items: center;
  margin-top: 0;
  padding: 0;
}

body {
  margin: 0px;
  padding: 0;
}

#arrow {
  padding-left:1em;
}

#singles {
  font-family: Monofett;
  color: #3C3C39;
  background-color: #D9D9D9;
  border-radius: 15px 15px 15px 15px;
}

#packs {
  font-family: Monofett;
  color: #3C3C39;
  background-color: #D9D9D9;
  border-radius: 15px 15px 15px 15px;
}

#boxes {
  font-family: Monofett;
  color: #3C3C39;
  background-color: #D9D9D9;
  border-radius: 15px 15px 15px 15px;
}

#all {
  font-family: Monofett;
  color: #3C3C39;
  background-color: #D9D9D9;
  border-radius: 15px 15px 15px 15px;
}

.search {
  background-color: #EBEBEB;
  width:60%;
  margin-left:20%;
  margin-right:20%;
  color: #747272;
  border-radius: 15px 15px 15px 15px;
  padding-left:1em;
  font-family: Monomaniac One;
}

#sublist {
  padding-top:1em;
  width:50%;
  margin-left:25%;
  margin-right:25%;
}
​
main { 
  display: flex;
  align-items: center;
  padding: 3em 5em 5em 5em;
}

#lastlist {
  width:50%;
  margin-left:25%;
  margin-right:25%;
  font-family: Monomaniac One;
  color: #EBEBEB;
}

.dropdown {
  display:flex;
  align-items: center;
  justify-content: center;
  color:#EBEBEB;
  
}

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.responsive-image {
  max-width: 100%;
}

.cell {
  text-align: justify;
  font-family: Monomaniac One;
  color: #EBEBEB;
}

.cell img {
  display: block;
  border-radius: 5px 5px 5px 5px;
  width: 100%;
  height: auto;
}

@media screen and (min-width: 600px){
  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .cell {
    width:25%;
    margin: 1rem;
  }
}
@media screen and (min-width: 1000px){
  .cell {
    width:calc (100%/4);
  }
}

@media screen and (min-width: 600px){
  .cell {
    width: calc(33.3333% - 2rem);
  }
}
@media screen and (min-width: 1000px){
  .cell{
    width: calc(25% - 2rem);
  }
}
@media screen and (min-width: 600px){
  .cell {
    width:calc (100%/3);
  }
}

@media only screen and (min-width: 1201px) {
  #hamburger-menu {
       display: none;
  }
}

@media only screen and (max-width: 1200px) {
  #mainlist {
       display: none;
  }
}

@media only screen and (max-width: 1037px) {
  #lastlist {
       font-size: 20px;
  }
}

@media only screen and (max-width: 990px) {
  #sublist {
       display:none;
  }
}

@media only screen and (max-width: 990px) {
  #lastlist {
       display:none;
  }
}

@media only screen and (min-width: 991px) {
  .dropdown {
       display: none;
  }
}