@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-color: #1E1E1E;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  background-color: #1E1E1E;
  font-family: 'Kode Mono', monospace;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  align-items: center;
  margin-top: 0;
  padding: 0;
}

body {
  margin: 0px;
  padding: 0;
}